@import url(fields/index.css);

form {
  margin-top: 4.8rem;
}

fieldset {
  border: none;

  display: grid;
  gap: 2.4rem;
}

legend {
  font: 600 1.6rem/125% var(--font-family);
  margin-bottom: 2.4rem;
}

fieldset + fieldset {
  margin-top: 4.8rem;
}

.actions-wrapper {
  margin-top: 4.8rem;
  display: flex;
  gap: 1.6rem;
}